.intelligent-link-list-tree {
  ul {
    margin: 0;
    padding: 0;
    font-size: 14px;
  }
  
  li {
    margin: 4px 0;
    padding: 4px 0 4px 8px; 
    list-style: none;
    border-radius: 4px;
  }
  
  .hierarchy-level-odd >li {
    background: linear-gradient( to right, rgba(255,255,255,0.8), rgba(255,255,255,0) );
  }
  
  .hierarchy-level-even >li {
    background: linear-gradient( to right, rgba(0,0,0,0.1), rgba(0,0,0,0) );
  }
  >.hierarchy-level-even >li {
    background: rgba(0,0,0,0.1);
  }
}

