<%= block_title(block.title, block.subtitle) %>
<div class="intelligent-link-list-tree">
<%=
	_dir = File.dirname(__FILE__)
	require File.join _dir + '../../../helpers/intelligent_link_list_block_plugin_helper'
	helper = IntelligentLinkListBlockPluginHelper
	
  def make_list_menu ancestors, hierarchy_level = 0 
  	helper = IntelligentLinkListBlockPluginHelper
    folder = ancestors.first
    second = ancestors.second
    content_tag "ul", class: (hierarchy_level % 2 == 0) ? "hierarchy-level-even" : "hierarchy-level-odd" do
      helper.get_children(folder).map do |child|
        if child[:object] == second
          content_tag "li", ((link_to child[:label], child[:href]) + make_list_menu(ancestors[1..-1], hierarchy_level+1)).html_safe, class:"open"
        else
        	content_tag "li", (link_to child[:label], child[:href])
        end
      end.join("\n").html_safe
    end
  end

  make_list_menu helper.get_ancestors(@page||@profile)  
%>
</div>
